.footer {
    background-color: rgba(0, 0, 0);
    color: white;
    width: 100%;
    position: sticky;
    bottom: 0;
  }
  
  .text_for_footer {
    text-align: center;
    background-color: rgba(0, 0, 0)
  }
    
  @media (min-width: 768px) {
    .footer {
      background-color: rgba(0, 0, 0);
      position: static;
      padding: 20px;
      bottom: 0;
    }
    
  }