/* #modal{
    background-color: rgba(255, 255, 255, 0);
    text-align: center;
    border-color: rgba(0, 4, 8, 0.893);
}



h4,h5{
    margin: 2vw;
    color: black;
}

.form{
    width: 25vw;
}
input{
    background-color: rgba(240, 248, 255, 0);
} */