<p>שלום {{nameOfPerson}},</p>
<p>
   אנחנו מודים לך על הצטרפותך למיזם מנציחים
</p>

<p>שם הנרצח :{{nameOfSlain}} בן {{fatherSlain}} ו{{motherSlain}}</p>
<p>תזכה למצוות!</p>
<img style="width:250px;" src="cid:logo">