.selectDiv{
/* border-radius: 16px;*/
display: flex;
flex-direction: row-reverse;
flex-wrap: wrap;
justify-content: center;
}
.mishnah-container{
flex-basis: 40%;
margin: 2vw;
}
.withKadish{
  display: flex;
  flex-direction: row-reverse;
  flex-wrap: wrap;
justify-content: center;
}
#kadish{
  margin-top: 1vh;
  width: 1.2vw;
}
#Button {
  margin-top: 5vh;
  background-color: rgb(255, 253, 251);
  border-style: solid;
  border-radius: 5px;
  padding: 1vh;
  cursor: pointer;
}

@media (max-width: 768px) {
    .selectDiv {
      width: 100% !important; 
      flex-direction: column;
    }
    
  }